body {
    background-image: url(https://c1.wallpaperflare.com/preview/85/553/267/stars-background-blue-photoshop.jpg);
    color: yellow;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 200px;
    overflow: hidden;
    perspective: 200px;
}

img {
    margin-left: 40%;
    padding: 5px;
    width: 300px;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.content {
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
}

.all{
    position: relative;
    bottom: -2800px;
}

.all {
    po
    -webkit-transform: rotateX(-20deg)  translateZ(-1500px) scale(1);
    -moz-transform: rotateX(-20deg)  translateZ(-1500px) scale(1);
    -ms-transform: rotateX(-20deg) translateZ(-1500px) scale(1);
    -o-transform: rotateX(-20deg)  translateZ(-1500px) scale(1);
    transform:  rotateX(-20deg)  translateZ(-1500px) scale(1);
}
.all {
    animation: crawl 60s infinite;
}
@keyframes crawl {
    0% {
        opacity: 100%;
        transform: rotateX(15deg) translateY(-25px);
    }
 100% { 
     opacity: 0%;
     transform: rotateX(15deg) translateY(-6000px);
     }
}
