body {
    background-image: url(https://c1.wallpaperflare.com/preview/85/553/267/stars-background-blue-photoshop.jpg);
    color:yellow;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 70px;
    overflow: hidden;
}
img {
    margin-left: 40%;
    padding: 5px;
    width: 300px;
}
.title {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}
.content {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}
.title {
    transform: rotateX(40deg);
}
.all {
    position: relative;
    top: -100px;
    transform-origin: 0% 100%;
    transform: rotateX(60deg);
    animation: all 40s linear;
}
@keyframes all {
    0% {
        top: 50px;
        }
    100% {
        top: -6000px;
    }
    }
}
